<section class="features section">
  <div class="container">
    <div class="features-inner section-inner has-bottom-divider">
      <div class="features-wrap">
        <div class="feature text-center is-revealing">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="/images/feature-icon-01.svg" alt="Feature 01" />
            </div>
            <h4 class="feature-title mt-24">Add Films to your favorites</h4>
            <p class="text-sm mb-0">
              Add any film on the IMDB page to your favorites
            </p>
          </div>
        </div>
        <div class="feature text-center is-revealing">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="/images/feature-icon-02.svg" alt="Feature 02" />
            </div>
            <h4 class="feature-title mt-24">Add Actors to your favorites</h4>
            <p class="text-sm mb-0">
              Add any film on the IMDB page to your favorites
            </p>
          </div>
        </div>
        <div class="feature text-center is-revealing">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="/images/feature-icon-03.svg" alt="Feature 03" />
            </div>
            <h4 class="feature-title mt-24">Make your posts public</h4>
            <p class="text-sm mb-0">
              Make your posts public for every one to see, like and comment
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
